body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.btn-success{
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 10px auto;
}
/* .btn-danger{
  display: inline-flex;
  flex-direction: row;
  justify-items: flex-end;
  margin: 0 0 0 1050px;
}
.btn-info{
  display: inline-flex;
  flex-direction: row;
  justify-items: flex-end;
  margin: 0 0 0 1050px;
} */